SIGNAL_ADDRESS=:8080
SIGNAL_ALLOWED_ORIGINS=https://vivid.raafat.io
SIGNAL_MAX_ROOM_PEERS=8
SIGNAL_READ_HEADER_TIMEOUT=5000
SIGNAL_IDLE_TIMEOUT=60000

STUN_URLS=stun:stun.cloudflare.com:3478

TURN_URLS=turn:turn.raafat.io:3478?transport=udp
TURN_REALM=turn.raafat.io
TURN_SHARED_SECRET="GENERATE WITH 'openssl rand -hex 32'"
TURN_TTL=30m

UMAMI_URL=http://umami:3000
UMAMI_WEBSITE_ID="<get from the umami dashboard after first deploy>"
UMAMI_DOMAIN=vivid.raafat.io
UMAMI_APP_SECRET="use 'openssl rand -hex 32'"
UMAMI_DB_PASSWORD=""
